body {
  background-color: #505050;
  color: #ffffff;
  font-family: system-ui, -apple-system, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  background-color: #5a5a5a;
  max-width: 600px;
  border-radius: 10px;
  padding: 10px 30px;
}

h2 {
  color: #e8a4f0;
  background-color: #707070;
  border-radius: 5px;
  padding: 10px;
}

h3 {
  font-family: system-ui;
  font-size: 12px;
  color: #f1b4f1;
}

h4,
p {
  font-family: Segoe UI;
  font-size: 12px;
  font-weight: 400;
  color: #f6f6f6;
}

h4 a,
h3 a {
  text-decoration: none;
  color: #d5a4dd;
  font-weight: 900;
}
button {
  background-color: #7d198d;
  border: none;
  padding: 10px;
  font-size: 20px;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}
